<div>
    <!--底部白色背景中的内容  栅格布局 -->
    <footer id="footer" class="bg-blue-100 pt-5 mt-5" style="background-color: #1e50ae">
        <div class="row">
                    <div class="col-md-2 ml-0 " style="margin-top: 20px">
                        <h4 class="my_font_color">关于我们</h4>
                        <ul class="list-unstyled" style="margin-top: 10px">
                            <li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href="${base}/category/3">企业简介</a></li>
                            <li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href="${base}/category/3">企业文化</a></li>
                            <li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href="${base}/category/3">荣誉资质</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2" style="margin-top: 20px">
                        <h4 class="my_font_color" >产品中心</h4>
                    </div>
                    <div class="col-md-2" style="margin-top: 20px">
                        <h4 class="my_font_color">新闻资讯</h4>
                        <ul class="list-unstyled" style="margin-top: 10px">
                            <li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href="href='${base}/" >行业资讯</a></li>
                            <li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href="href='${base}/" >公司新闻</a></li>
                            <!--<li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href='${base}/category/4'>联系我们</a></li>-->
                        </ul>
                    </div>
                    <div class="col-md-2" style="margin-top: 20px">
                        <h4 class="my_font_color">案例展示</h4>
                        <ul class="list-unstyled" style="margin-top: 10px">
                        </ul>
                    </div>
                    <div class="col-md-2" style="margin-top: 20px">
                        <h4 class="my_font_color">联系我们</h4>
                        <ul class="list-unstyled" style="margin-top: 10px">
                            <li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href='${base}/category/4'>联系方式</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2" style="margin-top: 20px">
                        <h4 class="my_font_color">官方微信</h4>
                        <ul class="list-unstyled" style="margin-top: 10px">
                            <!--<li class="mt-3" style="margin-top: 10px"><a class="my_font_color" href='${base}/category/4'></a></li>-->
                        </ul>
                    </div>
            <div class="col-md-3"></div>
        </div>
        <div class="text-center mt-4 my_font_style mb-2" style="margin-top: 10px">
            <p>地址：深圳市光明新区光明街道观光路3009号光明新区留学人员创业园708   邮编：518107   电话：0755-23199952</p>
            <p>版权所有：深圳海德新材料科技有限公司 www.szhdxcl.com  粤ICP备19011347号-1</p>
        </div>
        <div class="text-center mt-4 my_font_style mb-2">

        </div>

        <
    </footer>
</div>
