<table class="webTopTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" style="height:80px">
                    <div id="webTop" class="webTop">
                        <div id='corpTitle' class='corpTitle corpTitle2' fontPatternTitle='false' style='top: 5px;width: 100%'  _linkType='0'>
	                        <div style="margin-top: 30px;float:left;width: 500px;height: 120px" class="newPrimaryTitle" >
		                        <img class="top-nr_logo" src="${config.logo}" style="width:500px; height:75px" >
	                        </div>
                            <div style="margin-top: 30px;float: right;width: 200px;height: 120px" class="newPrimaryTitle" >
                                <p style="font-size: 20px">全国咨询热线：</p>
                                <p><strong>0710-4258570</strong></p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="absTopTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="absTopForms" class="forms sideForms absForms">
                        <div style="position:absolute;"></div><!-- for ie6 -->

                    </div>
                </td>
            </tr>
        </table>
        <table class="webNavTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="webNav" class="webNav">

                    </div>
                </td>
            </tr>
        </table>

<table class="webHeaderTable J_webHeaderTable" cellpadding="0" cellspacing="0" id="webHeaderTable" >
            <tr>
                <td align="center" class="J_webHeaderTable webHeaderTd fk-moduleZoneWrap">
                    <div id="fk-webHeaderZone" class="elemZone elemZoneModule J_moduleZone fk-webHeaderZone fk-moduleZone forms sideForms">
                        <div class="fk-moduleZoneBg fk-elemZoneBg J_zoneContentBg elemZoneBg"></div>
                        <!--<div id='module314' bannerTitle='图片' _indexClass='formIndex1' _moduleType='1' _modulestyle='79' _moduleid='314'  class='form form314 formIndex1 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:4px;left:989px;width:23px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' >
                            <div class='lightModuleOuterContent lightModuleOuterContent314'>
                                <div class='floatImg floatImg_J floatImg_J_special'>
                                    <a hidefocus='true' class='J_floatImg_jump f_floatImg_jump floatImgALink' href='tencent://message/?v=1&amp;uin=1274307559&amp;site=qq&amp;menu=yes' target='_blank'>
                                        <div class='floatImgWrap'>
                                            <div class='forMargin'>
                                                <div id='float_img_314' class='float_in_img J_defImage J_fonticon faisco-icons-M000919' src='faisco-icons-M000919' ></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>-->

                       <!-- <div id='module315' bannerTitle='图片' _indexClass='formIndex2' _moduleType='1' _modulestyle='79' _moduleid='315'  class='form form315 formIndex2 formStyle79 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:4px;left:1026px;width:19px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='false' _independent='false' >
                            <div class='lightModuleOuterContent lightModuleOuterContent315'>
                                <div class='floatImg floatImg_J floatImg_J_special'>
                                    <a hidefocus='true' class='J_floatImg_jump f_floatImg_jump floatImgALink' href='tencent://message/?v=1&amp;uin=1274307559&amp;site=qq&amp;menu=yes' target='_blank'>
                                        <div class='floatImgWrap'>
                                            <div class='forMargin'>
                                                <div id='float_img_315' class='float_in_img J_defImage J_fonticon faisco-icons-M000916' src='faisco-icons-M000916' ></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>-->

                        <!-- <div id='module396' _indexClass='formIndex3' _moduleType='1' _modulestyle='62' _moduleid='396'  class='form  formIndex3 formStyle62 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:42px;left:891px;width:325px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='1' _global='true' _independent='false' >
                        <table class='formTop formTop396' cellpadding='0' cellspacing='0'><tr><td class='left'></td><td class='center'></td><td class='right'></td></tr></table>
                        <table class=' formMiddle formMiddle396' style='' cellpadding='0' cellspacing='0'><tr>
                        <td class='formMiddleLeft formMiddleLeft396'></td>
                        <td class='formMiddleCenter formMiddleCenter396 ' valign='top'>
                        <div class='formMiddleContent formMiddleContent396 fk-formContentOtherPadding' tabStyle='0'>
                        <div class='J_newSearchBox fk-newSearchBox fk-newSearchBox2 fk-useFontIconBtn ' style='background-color:transparent;height:33px;' _type='2' _styleColor='#1e50ae' _borderWidth='1' _borderType='2' _borderColor='rgb(169,169,169)' _borderStyle='0' _bgColor='transparent' _useThemeColor=1><div class='fk-newSearchSelectWrap'  style='' ><div class='fk-newSearchSelect' style=''><div class='fk-newSearchBoxContainer'  style='width:254px;height:33px;'>
                        <input class='fk-newSearchInput' type='text' maxlength='100'  value=''  placeholder='请输入关键字...' ' _nSL='[]'  id="keyword"/></div>
                        </div></div><div id='fk-newSearchFontIcon2' class='fk-searchBoxBtn' style='height:33px;' href='javascript:;' onclick='search()'><span class=' faisco-icons-newSearch5 ' style='line-height:33px;'> </span>
                        </div>
                        </div>
                        </div>
                        </td>
                        <td class='formMiddleRight formMiddleRight396'></td>
                        </tr></table>
                        <table class='formBottom formBottom396' cellpadding='0' cellspacing='0'><tr><td class='left left396'></td><td class='center center396'></td><td class='right right396'></td></tr></table>
                        <div class='clearfloat clearfloat396'></div>
                        </div> -->
<!--
                        <div id='module399' _indexClass='formIndex4' _moduleType='1' _modulestyle='65' _moduleid='399'  class='form  formIndex4 formStyle65 formInZone ' title='' _sys='0' _banId='' style='position:absolute;top:0px;left:1055px;width:138px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _autoHeight='0' _global='true' _independent='false' >
                        <table class='formTop formTop399' cellpadding='0' cellspacing='0'><tr><td class='left'></td><td class='center'></td><td class='right'></td></tr></table>
                        <table class=' formMiddle formMiddle399' style='height:30px; ' cellpadding='0' cellspacing='0'><tr>
                        <td class='formMiddleLeft formMiddleLeft399'></td>
                        <td class='formMiddleCenter formMiddleCenter399 ' valign='top'>
                        <div class='formMiddleContent formMiddleContent399 fk-formContentOtherPadding' tabStyle='0'>
                        <div class='favorite'>
                        [#if session.session_member??]
                        <a hidefocus='true' href='javascript:;'>${session.session_member.username}</a>&nbsp;<a>|</a>&nbsp;<a hidefocus='true' href='${base}/logout'>退出</a>
                        [#else]
                        <a hidefocus='true' href='${base}/login'>登录</a>&nbsp;<a>|</a>&nbsp;<a hidefocus='true' href='${base}/register'>注册</a>
                        [/#if]
                        &lt;!&ndash; <a hidefocus='true' href='javascript:;' onclick="Fai.setHomePage('${config.siteUrl}')">设为首页</a>&nbsp;<a>|</a>&nbsp;<a hidefocus='true' href='javascript:;' onclick="Fai.addBookmark('${config.siteName}','${config.siteUrl}')">收藏本站</a> &ndash;&gt;</div></div>
                        </td>
                        <td class='formMiddleRight formMiddleRight399'></td>
                        </tr></table>
                        <table class='formBottom formBottom399' cellpadding='0' cellspacing='0'><tr><td class='left left399'></td><td class='center center399'></td><td class='right right399'></td></tr></table>
                        <div class='clearfloat clearfloat399'></div>
                        </div>-->

                    </div>

                    <div id="webHeader" class="webHeader">
                        <table class='headerTable' cellpadding='0' cellspacing='0'>
                            <tr>
                                <td class='headerCusLeft'></td>
                                <td class='headerCusMiddle' align='center' valign='top'>
                                    <div class='headerNav '>
                                <div id='nav' class='nav nav2 fixedNavPos '>
<div class='navMainContent'><table class='navTop' cellpadding='0' cellspacing='0'><tr><td class='navTopLeft'></td><td class='navTopCenter'></td><td class='navTopRight'></td></tr></table>
<table class='navContent' cellpadding='0' cellspacing='0'>
<tr>
<td class='navLeft'></td>
<td class='navCenterContent' id='navCenterContent' valign='top' align='left'>
<div id='navCenter' class='navCenter' style='width:604px;'>
<div class='itemPrev'></div>
<div class='itemContainer'>
<table title='' class='item itemCol2 itemIndex1 [#if currentCategory?? || currentContent??][#else]itemSelected[/#if]' cellpadding='0' cellspacing='0' colId='2' id='nav2' onclick='window.open("${base}/", "_self")'>
 <tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='${base}/' target='_self' onclick='return false;'><span class='itemName0'>首页&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
<div class='itemSep'></div><table title='' class='item itemCol103 itemIndex2 [#if currentCategory?? && currentCategory.id==3]itemSelected[/#if]' cellpadding='0' cellspacing='0' colId='103' id='nav103' onclick='window.open("${base}/category/3", "_self")' >
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='${base}/category/3' target='_self' onclick='return false;'><span class='itemName0'>关于我们&nbsp&nbsp&nbsp&nbsp|</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
<div class='itemSep'></div><table title='' class='item itemCol105 itemIndex4 [#if (currentCategory?? && currentCategory.id==2) || (currentContent?? && currentContent.categoryId==2)]itemSelected[/#if]' cellpadding='0' cellspacing='0' colId='105' id='nav105' onclick='window.open("${base}/category/2", "_self")' >
<tr>
    <td class='itemLeft'></td>
    <td class='itemCenter'><a hidefocus='true' style='outline:none;' href='${base}/category/2' target='_self' onclick='return false;'><span class='itemName0'>产品中心&nbsp&nbsp&nbsp&nbsp|</span></a></td>
    <td class='itemRight'></td>
</tr>
</table>
<div class='itemSep'></div><table title='' class='item itemCol104 itemIndex3 [#if (currentCategory?? && currentCategory.id==1) || (currentContent?? && currentContent.categoryId==1)]itemSelected[/#if]' cellpadding='0' cellspacing='0' colId='104' id='nav104' onclick='window.open("${base}/category/1", "_self")'>
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='${base}/category/1' target='_self' onclick='return false;'><span class='itemName0'>新闻中心&nbsp&nbsp&nbsp&nbsp|</span></a></td>
<td class='itemRight'></td>
</tr>
</table>

<div class='itemSep'></div><table title='' class='item itemCol106 itemIndex5 [#if currentCategory?? && currentCategory.id==4]itemSelected[/#if]' cellpadding='0' cellspacing='0' colId='106' id='nav106' onclick='window.open("${base}/category/4", "_self")'>
<tr>
<td class='itemLeft'></td>
<td class='itemCenter'><a hidefocus='true' style='outline:none;' href='${base}/category/4' target='_self' onclick='return false;'><span class='itemName0'>联系我们</span></a></td>
<td class='itemRight'></td>
</tr>
</table>
</div>
<div class='itemNext'></div>
</div>
</td>
<td class='navRight'></td>
</tr>
</table>
<table class='navBottom' cellpadding='0' cellspacing='0'><tr><td class='navBottomLeft'></td><td class='navBottomCenter'></td><td class='navBottomRight'></td></tr></table>
</div>
</div>
                                    </div>
                                </td>
                                <td class='headerCusRight'></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <script type="text/javascript">
        function search(){
        	var keyword = $("#keyword").val();
        	if(keyword == ""){
        		swal({
        	         title: '',
        	         text: '请输入搜索词！',
        	         type: 'error',
        	         timer: 1500,
        	         showConfirmButton: false
        	       });
        	     return false;
        	}
        	location.href="${base}/category/2?keyword="+keyword;
        }

        </script>