<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" class="g_html">
<head>
<title>产品中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no,email=no,address=no" />
<meta name="renderer" content="webkit" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/base2.min.css" rel="stylesheet" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/fkTheme.min.css" rel="stylesheet"/>
<link type="text/css" href="${base}/templates/${config.theme}/static/css/jzcusstyle.css" rel="stylesheet" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/newSearchBoxStyle.min.css" rel="stylesheet" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/poshytipAndmCustomScrollbar.min.css" rel="stylesheet" />
<link type='text/css' href='${base}/templates/${config.theme}/static/css/fontsIco.min.css' rel='stylesheet' />
<script type="text/javascript" src="${base}/templates/${config.theme}/static/js/jquery.min.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/static/js/jqueryajax.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/static/js/common.js"></script>
<script src="${base}/templates/${config.theme}/static/sweetalert/sweetalert2.all.min.js"></script>
<script src="${base}/templates/${config.theme}/static/sweetalert/promise.min.js"></script>
<link href="${base}/templates/${config.theme}/static/sweetalert/sweetalert2.scss" rel="stylesheet">
<link href="${base}/templates/${config.theme}/static/css/style.css" rel="stylesheet">
    <link type="text/css" href="${base}/templates/${config.theme}/static/css/bootstrap.css" rel="stylesheet"/>
    <link type="text/css" href="${base}/templates/${config.theme}/static/css/footer.css" rel="stylesheet"/>
    <link type="text/css" href="${base}/templates/${config.theme}/static/css/base.css" rel="stylesheet"/>
    <script type="text/javascript" src="${base}/templates/${config.theme}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="${base}/templates/${config.theme}/static/js/popper.min.js"></script>
    <script type="text/javascript" src="${base}/templates/${config.theme}/static/js/bootstrap.min.js"></script>

</head>
<body class="g_body g_locale2052   " >
    <div id="g_main" class='g_main g_col2  ' style='0' >
    <div id="web" class="g_web ">
        <!-- 头部开始 -->
         [#include "/templates/${config.theme}/header.html" /]
        <!-- 头部结束 -->
        
        <!-- banner 开始 -->
        <table class="webBannerTable J_webBannerTable" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td align="center" class="fk-moduleZoneWrap">
                    
                    
                    <div id="webBanner" class="webBanner">
                        <table class="bannerTable" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td class="bannerLeft"></td>
                                <td class="bannerCenter" align="center" valign="top">
                                            
                                            <div style="visibility:hidden;" class="fk-inBannerListZone-tmp forms">

                                                
                                            </div>  
                                    <div class="bannerTop"></div>
<div id="bannerV2" class="banner extBanner" fbheight="350" defaultwidth="0" style="height: 350px; background: none; overflow: hidden;"> 
<div class="imageSwitchShowName"><span class="spanHiddenName spanShowName"></span></div><div class="imageSwitchBtnArea clearFix" style="position: absolute; z-index: 3; display: none; width: 19px;"><a class="imageSwitchBtn imageSwitchBtnSel"><span>1</span></a></div><div></div><div class="switchGroup switchGroup_bannerV2 " style="width: 100%; position: relative; height: 350px; overflow: hidden; margin: 0px auto;"><div class="J_billboardItem numImg" id="numImg0" style="position: absolute; width: 1903px;">
<div class="J_bannerItem f-bannerItem" title="" style="width: 1903px; height: 350px; cursor: default; background-position: 50% 50%; background-repeat: no-repeat; overflow: hidden; display: block; outline: none; margin: 0px auto; position: relative; z-index: 1; background-size: cover; background-image: url(&quot;//16584391.s61i.faiusr.com/2/AD0Ix530BxACGAAg-PHW1gUoqvnn-gYwgA843gI.jpg&quot;);">
<div id="fk-inBannerListZone-0" _sys="1" _banid="AD0Ix530BxACGAAg-PHW1gUoqvnn-gYwgA843gI" style="text-align: left;" class="elemZone elemZoneModule fk-moduleZone fk-inBannerListZone forms sideForms J_moduleZone ">
<div class="fk-inBannerListZoneBg fk-elemZoneBg J_zoneContentBg elemZoneBg"></div>
</div>
</div>
</div>
</div></div>

                                </td>
                                <td class="bannerRight"></td>
                            </tr>
                        </tbody></table>
                    </div>
                </td>
            </tr>
        </tbody></table>
        <!-- banner结束 -->
        
        <!-- 内容开始 -->
        <table id="webContainerTable" class="webContainerTable" cellpadding="0" cellspacing="0"     style="background-color: white">
            <tbody><tr>
                <td align="center">
                    <div id="webContainer" class="webContainer">
                        <div id="container" class="container">
    <table class="containerTop" cellpadding="0" cellspacing="0">
        <tbody><tr valign="top">
            <td class="left"></td>
            <td class="center"></td>
            <td class="right"></td>
        </tr>
    </tbody></table>

    <table class="containerMiddle" cellpadding="0" cellspacing="0">
        <tbody><tr valign="top">
            <td id="containerMiddleLeft" class="containerMiddleLeft">
                    
                    
                    
                    
            </td>

            <td class="containerMiddleCenter">
                <div id="containerMiddleCenterTop" class="containerMiddleCenterTop">
                    
                </div>

                <div id="containerForms" class="containerForms">
                    <div id="topForms" class="column forms mainForms topForms" style="display:none">
                        
                    </div>

                    <table class="containerFormsMiddle" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td valign="top" id="containerFormsLeft" class="containerFormsLeft" style="display:none">
                                <div class="containerFormsLeftTop">
                                </div>
                                <div id="leftForms" class="column forms sideForms leftForms">
                                    
                                </div>
                                <div class="containerFormsLeftBottom">
                                </div>
                            </td>

                            <td valign="top" id="containerFormsCenter" class="containerFormsCenter">
                    
                                <div id="centerTopForms" class="column forms mainForms centerTopForms">
                                    <div id="module388" _indexclass="formIndex1" _moduletype="1" _modulestyle="87" _moduleid="388" systempattern="2658" class="form form388 formIndex1 formStyle87 fk-formPack  jz-modulePackPattern2658" _createfrom="0" title="" _sys="0" _banid="" style="height: 927px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<table class="formBanner formBanner388 f-packFormBanner  J_packFormBanner " cellpadding="0" cellspacing="0" style=""><tbody><tr>
<td class="left left388"></td>
<td class="center center388" valign="top">
<table cellpadding="0" cellspacing="0" class="formBannerTitle formBannerTitle388"><tbody><tr>
<td class="titleLeft titleLeft388" valign="top">
</td>
<td class="titleCenter titleCenter388" valign="top">
<div class="titleText titleText388"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle388">登录</span></div>
</td>
<td class="titleRight titleRight388" valign="top">
</td>
</tr></tbody></table>
</td>
<td class="right right388"></td>
</tr></tbody></table>
<div class="J_packContent f-packContent f-packContent388 elemZone elemZoneModule" id="fk-packContent388"><div class="fk-elemZoneBg J_zoneContentBg elemZoneBg f-packContentBg f-packContentBg388"></div>
<div id="module393" _indexclass="" _moduletype="1" _modulestyle="32" _moduleid="393" class="form form393 formStyle32" title="" _sys="0" _banid="" style="position: absolute; top: 24px; left: 236px; width: 614px; overflow: hidden; height: 402px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="388" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<table class="formTop formTop393" cellpadding="0" cellspacing="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
<table class=" formMiddle formMiddle393" style="height:402px; " cellpadding="0" cellspacing="0"><tbody><tr>
<td class="formMiddleLeft formMiddleLeft393"></td>
<td class="formMiddleCenter formMiddleCenter393 " valign="top">
<div class="formMiddleContent formMiddleContent393 fk-formContentOtherPadding" tabstyle="0" style="height: 392px; overflow-y: hidden;">
<div class="siteForm siteFormContainer">
<table id="siteFormItems_N_U1" class="siteFormItemTable_N_lr_U" cellpadding="0" cellspacing="0">
<tbody>

<!-- text start -->
<tr class="siteFormItem_N_U">
<td width="100%" valign="middle">
<div class="J_siteFormPanel siteFromPanelNotDesc">
<div class="J_siteFormItem siteFromNotDescItem">
<div class="siteFormItemShowName_N_U siteFormNotDecsName">
<table width="100%" class=" siteFormItems_N_U_C " cellpadding="0" cellspacing="0">
<tbody><tr><td width="100%" class="siteFormItemTd3">账号</td></tr></tbody></table>
</div>
<div class="siteFormMiddle siteFormItemMiddle5">
<input _show="0" _id="0" class="g_itext resize" type="text" name="zhanghao" id="zhanghao" maxlength="100" _placeholder="" placeholder="" value="">
<div class="star siteFormSingleLine">*</div></div></div>
</div>
</td>
</tr>
<tr>
<td colspan="2"><div class="siteFormItemLink_N_U"></div></td>
</tr>
<!-- text end -->

<tr class="siteFormItem_N_U"><td width="100%" valign="middle">
<div class="J_siteFormPanel siteFromPanelNotDesc">
<div class="J_siteFormItem siteFromNotDescItem">
<div class="siteFormItemShowName_N_U siteFormNotDecsName">
<table width="100%" class=" siteFormItems_N_U_C " cellpadding="0" cellspacing="0"><tbody><tr><td width="100%" class="siteFormItemTd3">密码</td></tr></tbody></table>
</div>
<div class="siteFormMiddle siteFormItemMiddle5">
<input _show="0" _id="1" class="g_itext resize" type="password" name="mima" id="mima" maxlength="100" _placeholder="" placeholder="" value="">
<div class="star siteFormSingleLine">*</div>
</div></div></div></td></tr>
<tr><td colspan="2"><div class="siteFormItemLink_N_U"></div></td></tr>


<tr><td width="100%" valign="middle"><div class="J_siteFormPanel siteFormPanel1" ><div class="siteFormMiddle siteFormItemMiddle3"><div id="siteFormMsgM393F1" class="siteFormMsg g_tip siteFormMsgM2"></div></div></div></td></tr></tbody></table><div class="siteFormAddButton">
<table width="100%" cellpadding="0" cellspacing="0" class="siteFormItemTable_N_lr_U"><tbody><tr class="siteFormItem_N_U"><td width="100%" class="siteFormItemTd2"><div class="F1siteFormItemShowVal siteFormItemShowVal3"><div id="buttonStyle" class="addButtonshowTypeFalse">
<div class="s_ibutton s_ibutton6">
<div class="siteFormCursorPointer" onclick="Site.siteFormAdd(393, 1, F1siteFormItemList, true, true,&quot;&quot;,0)"><div class="left"></div><div id="denglu" class="middle siteFormMinWidth124">登录</div>
<div class="right"></div></div></div></div>
</div></td></tr></tbody></table></div>
</div></div>
</td>
<td class="formMiddleRight formMiddleRight393"></td>
</tr></tbody></table>
<table class="formBottom formBottom393" cellpadding="0" cellspacing="0"><tbody><tr><td class="left left393"></td><td class="center center393"></td><td class="right right393"></td></tr></tbody></table>
<div class="clearfloat clearfloat393"></div>
</div>
</div></div>


                                </div>
                                <div class="containerFormsCenterMiddle J_containerFormsCenterMiddle">
                                    <div id="middleLeftForms" class="column forms mainForms middleLeftForms" style="display:none">
                                    
                                    </div>
                                    <div id="middleRightForms" class="column forms mainForms middleRightForms" style="display:none">
                                    
                                    </div>  
                                    <div class="clearfloat"></div>
                                </div>
                                <div id="centerBottomForms" class="column forms mainForms centerBottomForms" style="display:none">
                                    
                                </div>
                            </td>

                            <td valign="top" id="containerFormsRight" class="containerFormsRight" style="display:none">
                                <div class="containerFormsRightTop">
                                </div>
                                <div id="rightForms" class="column forms sideForms rightForms">
                                    
                                </div>
                                <div class="containerFormsRightBottom">
                                </div>
                            </td>
                        </tr>
                    </tbody></table>

                    <div id="bottomForms" class="column forms mainForms bottomForms" style="display:none">
                        
                    </div>

                    <div id="containerPlaceholder" class="containerPlaceholder" style="height: 0px;"></div>
                    
                </div>

                <div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
                </div>

            </td>

            <td id="containerMiddleRight" class="containerMiddleRight"></td>
        </tr>
    </tbody></table>
    
    <table class="containerBottom" cellpadding="0" cellspacing="0">
        <tbody><tr valign="top">
            <td class="left"></td>
            <td class="center"></td>
            <td class="right"></td>
        </tr>
    </tbody></table>
</div>


                    </div>
                </td>
            </tr>
        </tbody></table>
        <!-- 内容结束 -->
        
          <!-- 底部开始 -->
         [#include "/templates/${config.theme}/footer.html" /]
        <!-- 底部结束 -->
        
        
        </div></div></body></html>
        
        <script type="text/javascript">
 $("#denglu").on("click",function(){
	 
	var zhanghao = $("#zhanghao").val();
	if(zhanghao == ""){
		swal({
	         title: '',
	         text: '请输入账号！',
	         type: 'error',
	         timer: 1500,
	         showConfirmButton: false
	       });
	     return false;
	}
	
	
	var mima = $("#mima").val();
	if(mima == ""){
		swal({
	         title: '',
	         text: '请输入密码！',
	         type: 'error',
	         timer: 1500,
	         showConfirmButton: false
	       });
	     return false;
	}
	
	
	 
       $.ax("${base}/loginSubmit",
             {
     			"zhanghao":$('#zhanghao').val(),
     			"mima":$('#mima').val()
             },
     		'GET',null,'json',
             function(data){
           	  if(data.type=="success"){
           		swal({
                     title: '',
                     text: '登录成功',
                     type: 'success',
                     timer: 1500,
                     showConfirmButton: false
                   });
                   setTimeout(function(){ 
                           location.href="${base}/";
                       }, 1700);
           	  }else{
           		  //alert(data.msg);
           		swal({
                     title: '',
                     text: data.msg,
                     type: 'error',
                     timer: 1500,
                     showConfirmButton: false
                   });
           	  }
             },
             function(data){
         });
     return false;
	 
	 
	 
 });
 
 
 
 </script>