<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" class="g_html">
<head>
<title>企业简介</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no,email=no,address=no" />
<meta name="renderer" content="webkit" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/base2.min.css" rel="stylesheet" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/fkTheme.min.css" rel="stylesheet"/>
<link type="text/css" href="${base}/templates/${config.theme}/static/css/edit.min.css" rel="stylesheet"/>
<link type="text/css" href="${base}/templates/${config.theme}/static/css/jzcusstyle.css" rel="stylesheet" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/newSearchBoxStyle.min.css" rel="stylesheet" />
<link type="text/css" href="${base}/templates/${config.theme}/static/css/poshytipAndmCustomScrollbar.min.css" rel="stylesheet" />
<link type='text/css' href='${base}/templates/${config.theme}/static/css/fontsIco.min.css' rel='stylesheet' />
<script type="text/javascript" src="${base}/templates/${config.theme}/static/js/jquery.min.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/static/js/jqueryajax.js"></script>
<script type="text/javascript" src="${base}/templates/${config.theme}/static/js/common.js"></script>
<script src="${base}/templates/${config.theme}/static/sweetalert/sweetalert2.all.min.js"></script>
<script src="${base}/templates/${config.theme}/static/sweetalert/promise.min.js"></script>
<link href="${base}/templates/${config.theme}/static/sweetalert/sweetalert2.scss" rel="stylesheet">
<link href="${base}/templates/${config.theme}/static/css/style.css" rel="stylesheet">
    <link type="text/css" href="${base}/templates/${config.theme}/static/css/bootstrap.css" rel="stylesheet"/>
    <link type="text/css" href="${base}/templates/${config.theme}/static/css/footer.css" rel="stylesheet"/>
    <link type="text/css" href="${base}/templates/${config.theme}/static/css/base.css" rel="stylesheet"/>
    <script type="text/javascript" src="${base}/templates/${config.theme}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="${base}/templates/${config.theme}/static/js/popper.min.js"></script>
    <script type="text/javascript" src="${base}/templates/${config.theme}/static/js/bootstrap.min.js"></script>

</head>
<body class="g_body g_locale2052   " >
    <div id="g_main" class='g_main g_col2  ' style='0' >
    <div id="web" class="g_web ">
        
        <!-- 头部开始 -->
         [#include "/templates/${config.theme}/header.html" /]
        <!-- 头部结束 -->
        
        <!-- banner 开始 -->
        <table class="webBannerTable J_webBannerTable" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td align="center" class="fk-moduleZoneWrap">
                    
                    
                    <div id="webBanner" class="webBanner">
                        <table class="bannerTable" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td class="bannerLeft"></td>
                                <td class="bannerCenter" align="center" valign="top">
                                            
                                            <div style="visibility:hidden;" class="fk-inBannerListZone-tmp forms">

                                                
                                            </div>  
                                    <div class="bannerTop"></div>
<div id="bannerV2" class="banner extBanner" fbheight="350" defaultwidth="0" style="height: 350px; background: none; overflow: hidden;"> 
<div class="imageSwitchShowName"><span class="spanHiddenName spanShowName"></span></div><div class="imageSwitchBtnArea clearFix" style="position: absolute; z-index: 3; display: none; width: 19px;"><a class="imageSwitchBtn imageSwitchBtnSel"><span>1</span></a></div><div></div><div class="switchGroup switchGroup_bannerV2 " style="width: 100%; position: relative; height: 350px; overflow: hidden; margin: 0px auto;"><div class="J_billboardItem numImg" id="numImg0" style="position: absolute; width: 1903px;">
<div class="J_bannerItem f-bannerItem" title="" style="width: 1903px; height: 350px; cursor: default; background-position: 50% 50%; background-repeat: no-repeat; overflow: hidden; display: block; outline: none; margin: 0px auto; position: relative; z-index: 1; background-size: cover; background-image: url(&quot;//16584391.s61i.faiusr.com/2/AD0Ix530BxACGAAgt_LW1gUo_MCj0AUwgA843gI.jpg&quot;);">
<div id="fk-inBannerListZone-0" _sys="1" _banid="AD0Ix530BxACGAAgt_LW1gUo_MCj0AUwgA843gI" style="text-align: left;" class="elemZone elemZoneModule fk-moduleZone fk-inBannerListZone forms sideForms J_moduleZone ">
<div class="fk-inBannerListZoneBg fk-elemZoneBg J_zoneContentBg elemZoneBg"></div>
</div>
</div>
</div>
</div></div>

                                </td>
                                <td class="bannerRight"></td>
                            </tr>
                        </tbody></table>
                    </div>
                </td>
            </tr>
        </tbody></table>
        <!-- banner 结束 -->
        
        <!-- 内容开始 -->
        <table id="webContainerTable" class="webContainerTable" cellpadding="0" cellspacing="0" style="background-color: white">
            <tbody><tr>
                <td align="center">
                    <div id="webContainer" class="webContainer">
                        <div id="container" class="container">
    <table class="containerTop" cellpadding="0" cellspacing="0">
        <tbody><tr valign="top">
            <td class="left"></td>
            <td class="center"></td>
            <td class="right"></td>
        </tr>
    </tbody></table>

    <table class="containerMiddle" cellpadding="0" cellspacing="0">
        <tbody><tr valign="top">
            <td id="containerMiddleLeft" class="containerMiddleLeft">
                    
                    
                    
                    
            </td>

            <td class="containerMiddleCenter">
                <div id="containerMiddleCenterTop" class="containerMiddleCenterTop">
                    
                </div>

                <div id="containerForms" class="containerForms">
                    <div id="topForms" class="column forms mainForms topForms" style="display:none">
                        
                    </div>

                    <table class="containerFormsMiddle" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td valign="top" id="containerFormsLeft" class="containerFormsLeft">
                                <div class="containerFormsLeftTop">
                                </div>
                                <div id="leftForms" class="column forms sideForms leftForms">
                                    <div id="module363" _indexclass="formIndex1" _moduletype="1" _modulestyle="11" _moduleid="363" class="form form363 formIndex1 formStyle11" title="" _sys="0" _banid="" style="" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _autoheight="1" _global="false" _independent="false">
<table class="formTop formTop363" cellpadding="0" cellspacing="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
<table class="formBanner formBanner363" cellpadding="0" cellspacing="0" style=""><tbody><tr>
<td class="left left363"></td>
<td class="center center363" valign="top">
<table cellpadding="0" cellspacing="0" class="formBannerTitle formBannerTitle363"><tbody><tr>
<td class="titleLeft titleLeft363" valign="top">
</td>
<td class="titleCenter titleCenter363" valign="top">
<div class="titleText titleText363"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle363">企业简介</span></div>
</td>
<td class="titleRight titleRight363" valign="top">
</td>
</tr></tbody></table>
</td>
<td class="right right363"></td>
</tr></tbody></table>
<!-- <table class=" formMiddle formMiddle363" style="" cellpadding="0" cellspacing="0"><tbody><tr>
<td class="formMiddleLeft formMiddleLeft363"></td>
<td class="formMiddleCenter formMiddleCenter363 " valign="top">
<div class="formMiddleContent formMiddleContent363 fk-formContentOtherPadding" tabstyle="0">
<div class="s_navList navAcrossContainer navA_C_J"><table class="navAcrossCotent navA_J g_item" cellpadding="0" cellspacing="0" _colid="107"><tbody><tr><td class="navAcrossCotentLeft"></td><td class="navAcrossCotentCenter"><a class="navAcrossCotentL" href="/col.jsp?id=107" onclick="return true;"><span class="itemName0">企业简介</span></a>
</td><td class="navAcrossCotentRight"></td></tr></tbody></table><div class="g_foldSepLine g_foldPLine g_separator"></div>
<table class="navAcrossCotent navA_J g_item" cellpadding="0" cellspacing="0" _colid="108"><tbody><tr><td class="navAcrossCotentLeft"></td><td class="navAcrossCotentCenter"><a class="navAcrossCotentL" href="/col.jsp?id=108" onclick="return true;"><span class="itemName0">企业文化</span></a>
</td><td class="navAcrossCotentRight"></td></tr></tbody></table></div></div>
</td>
<td class="formMiddleRight formMiddleRight363"></td>
</tr></tbody></table> -->
<table class="formBottom formBottom363" cellpadding="0" cellspacing="0"><tbody><tr><td class="left left363"></td><td class="center center363"></td><td class="right right363"></td></tr></tbody></table>
<div class="clearfloat clearfloat363"></div>
</div>

<div id="module366" _indexclass="formIndex2" _moduletype="1" _modulestyle="87" _moduleid="366" class="form form366 formIndex2 formStyle87 fk-formPack " _createfrom="0" title="" _sys="0" _banid="" style="height: 263px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="J_packContent f-packContent f-packContent366 elemZone elemZoneModule" id="fk-packContent366"><div class="fk-elemZoneBg J_zoneContentBg elemZoneBg f-packContentBg f-packContentBg366"></div>
<div id="module367" bannertitle="图片" _indexclass="" _moduletype="1" _modulestyle="79" _moduleid="367" class="form form367 formStyle79" title="" _sys="0" _banid="" style="position: absolute; top: 0px; left: -1px; width: 220px; height: 110px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent367"><div class="floatImg floatImg_J floatImg_J_special"><a hidefocus="true" class="J_floatImg_jump f_floatImg_jump ">
<div class="floatImgWrap"><div class="forMargin"><img id="float_img_367" class="float_in_img J_defImage " src="//16584391.s61i.faiusr.com/2/AD0Ix530BxACGAAgh97W1gUo6Ymh5wYw3AE4bg.jpg" alt="AD0Ix530BxACGAAgh97W1gUo6Ymh5wYw3AE4bg" style="height: 110px;"></div></div></a>
</div></div>
</div>
<div id="module368" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86" _moduleid="368" class="form form368 formStyle86 siteEditor " title="" _sys="0" _banid="" style="position: absolute; top: 122px; left: 51px; width: 98px; height: 40px; min-height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent368"><div class="fk-editor simpleText fk-editor-break-word  "><span style="font-size: 14px;">公司电话</span></div></div>
</div>
<div id="module369" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86" _moduleid="369" class="form form369 formStyle86 siteEditor " title="" _sys="0" _banid="" style="position: absolute; top: 146px; left: 51px; width: 110px; height: 40px; min-height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent369"><div class="fk-editor simpleText   "><span style="color: rgb(30, 80, 174);"><span style="font-size: 14px;">0769-82863717</span></span></div></div>
</div>
 <div id="module370" bannertitle="图片" _indexclass="" _moduletype="1" _modulestyle="79" _moduleid="370" class="form form370 formStyle79" title="" _sys="0" _banid="" style="position: absolute; top: 137px; left: 12px; width: 25px; height: 25px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent370"><div class="floatImg floatImg_J floatImg_J_special"><a hidefocus="true" class="J_floatImg_jump f_floatImg_jump ">
<div class="floatImgWrap"><div class="forMargin"><div id="float_img_370" class="float_in_img J_defImage J_fonticon faisco-icons-M000910" src="faisco-icons-M000910" style="height: 25px;"></div></div></div></a>
</div></div>
</div>
<!-- <div id="module371" bannertitle="图片" _indexclass="" _moduletype="1" _modulestyle="79" _moduleid="371" class="form form371 formStyle79" title="" _sys="0" _banid="" style="position: absolute; top: 166px; left: 2px; width: 204px; height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent371"><div class="floatImg floatImg_J floatImg_J_special"><a hidefocus="true" class="J_floatImg_jump f_floatImg_jump ">
<div class="floatImgWrap"><div class="forMargin"><img id="float_img_371" class="float_in_img J_defImage " src="//16584391.s61i.faiusr.com/4/AD0Ix530BxAEGAAg5t-W1gUo8sjClAEw3AE4KA.png" alt="AD0Ix530BxAEGAAg5t-W1gUo8sjClAEw3AE4KA" style="height: 40px;"></div></div></a>
</div></div>
</div>
<div id="module372" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86" _moduleid="372" class="form form372 formStyle86 siteEditor " title="" _sys="0" _banid="" style="position: absolute; top: 195px; left: 51px; width: 98px; height: 40px; min-height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent372"><div class="fk-editor simpleText   "><span style="font-size: 14px;">企业邮箱</span></div></div>
</div>
<div id="module373" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86" _moduleid="373" class="form form373 formStyle86 siteEditor " title="" _sys="0" _banid="" style="position: absolute; top: 221px; left: 51px; width: 146px; height: 40px; min-height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent373"><div class="fk-editor simpleText   "><font color="#1e50ae"><span style="font-size: 14px;">contact@fkadjkhsf.co</span></font></div></div>
</div> -->
<!-- <div id="module374" bannertitle="图片" _indexclass="" _moduletype="1" _modulestyle="79" _moduleid="374" class="form form374 formStyle79" title="" _sys="0" _banid="" style="position: absolute; top: 208px; left: 12px; width: 25px; height: 27px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="366" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent374"><div class="floatImg floatImg_J floatImg_J_special"><a hidefocus="true" class="J_floatImg_jump f_floatImg_jump ">
<div class="floatImgWrap"><div class="forMargin"><div id="float_img_374" class="float_in_img J_defImage J_fonticon faisco-icons-M000027" src="faisco-icons-M000027" style="height: 27px;"></div></div></div></a>
</div></div>
</div> -->
</div></div>


                                </div>
                                <div class="containerFormsLeftBottom">
                                </div>
                            </td>

                            <td valign="top" id="containerFormsCenter" class="containerFormsCenter">
                    
                                <div id="centerTopForms" class="column forms mainForms centerTopForms">
                                    <div id="module365" _indexclass="formIndex1" _moduletype="1" _modulestyle="87" _moduleid="365" systempattern="2658" class="form form365 formIndex1 formStyle87 fk-formPack  jz-modulePackPattern2658" _createfrom="1" title="" _sys="0" _banid="" style="" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _autoheight="1" _global="false" _independent="false">
<table class="formBanner formBanner365 f-packFormBanner  J_packFormBanner " cellpadding="0" cellspacing="0" style=""><tbody><tr>
<td class="left left365"></td>
<td class="center center365" valign="top">
<table cellpadding="0" cellspacing="0" class="formBannerTitle formBannerTitle365"><tbody><tr>
<td class="titleLeft titleLeft365" valign="top">
</td>
<td class="titleCenter titleCenter365" valign="top">
<div class="titleText titleText365"><span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle365">企业简介</span></div>
</td>
<td class="titleRight titleRight365" valign="top">
</td>
</tr></tbody></table>
</td>
<td class="right right365"></td>
</tr></tbody></table>
<div class="J_packContent f-packContent f-packContent365 elemZone elemZoneModule" id="fk-packContent365"><div class="fk-elemZoneBg J_zoneContentBg elemZoneBg f-packContentBg f-packContentBg365"></div>
<div id="module364" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86" _moduleid="364" class="form form364 formStyle86 siteEditor " title="" _sys="0" _banid="" style="position: absolute; top: 0px; left: 0px; width: 964px; height: 801px; min-height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="365" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent364"><div class="fk-editor simpleText fk-editor-break-word  "><div style="text-align: justify;"><span style="font-size: 14px; background-color: transparent;"></span></div><span style="line-height: 30px;"><div style="text-align: justify;"><span style="font-size: 14px; background-color: transparent;">
深圳海德新材料科技有限公司成立于2016年，是一家专注环保水性涂料用树脂的研发、生产、销售的创新型科技企业。

海德新材团队先后参与了国家行业标准《涂料用水性醇酸树脂》、《钢结构用水性防腐涂料》、《钢桶水性涂料涂装工艺标准》起草与修订。

海德新材团队与四川大学高分子科学与工程学院经过数年联合研发环保水性涂料用树脂产品，取得了重大成果，获得10项国家发明专利及实用新型专利，产品性能处于国内领先水平。

海德新材为国内数家知名涂料企业提供环保水性涂料用树脂，为数十家企业提供精准水性工业涂料配方及技术解决方案。

海德新材水性树脂，产品有：水性丙烯酸树脂、水性环氧树脂及固化剂、水性醇酸树脂、水性环氧酯树脂、水性聚酯树脂等，以及多种水性涂料助剂，广泛应用在水性涂料各个领域，如城市基建、金属防锈防腐、汽车零部件、工程机械、五金配件、玻璃等领域。

海德新材致力促进水性涂料用树脂的科技成果转化、加速科技成果产业化进程，为中国环保新材料的发展贡献自己的一份力量。
</span></div>

<!-- <span style="font-size: 14px;">
公司坚持"科技兴企"战略，以高品质的产品为企业赢得并巩固市场龙头地位。公司为高新技术企业和省级企业技术中心，拥有强大的科研队伍，产品研发实力雄厚。此外，企业还与多家闻名科研院所保持着长期技术合作关系，使公司的科研实力如虎添翼。应市场需求，公司先后开发了渣浆泵、脱硫泵、化工泵、多级煤泥泵、耐磨双吸泵、船用泵等系列产品。其中，公司拳头产品ZJ系列渣浆泵先后被评为国家新产品、机械工业第十六批、第十七批节能产品，原煤炭部八项科技成果推广项目之一，连续多年被授予河北省品牌产品，并进入中国名优产品数据库之列。由于公司产品具有节能高效、运行平稳、寿命长久等特点而深受用户喜爱和社会好评，被用户亲切的称之为"幸福泵"。

<div style="text-align: justify;"><span style="background-color: transparent;">公司坚持"品牌壮企"战略和"诚信立企、用户至上"的经营理念，以严细的质量管控和超前的用户服务为企业树立了良好的市场品牌形象。公司建立健全了各种管理体系，先后通过了GB/T19001质量、GB/T24001环境、GB/T28001职业健康安全、GB/T19022测量管理体系认证，同时大力发展群众性质量管理活动，积极推进TQM活动，在河北省"双百优"活动中，有多个QC小组项目获得省级奖励。经过多年的市场拼搏，公司先后获得中国驰名商标，全国煤炭行业工业十佳选煤设备制造厂，全国质量文化建设标杆单位，全国机械行业文明单位，全国企业质量信用AAA等级，河北省质量效益型企业，河北省诚信企业，河北省品牌建设典范企业以及石家庄市政府质量奖等诸多荣誉称号。</span></div>公司坚持"人才强企"战略，高素质的职工队伍为企业不断提升市场竞争力提供着坚强保证。经过多年锤炼，公司拥有个讲政治、党性强、有远见、勇担当、谋全局、善决断的强有力的领导班子；有一支政治好、作风硬、懂生产、会经营、业务精、善管理的中层管理干部队伍；有一支锐意进取、勇于创新、敢于挑战、善于钻研的科技人才队伍和一支爱岗敬业、纪律严明、技术精湛、作风顽强的技术工人队伍，他们各司其职，密切配合，共同承担着推动企业科学发展的重任和使命。</span> --></span><!-- <div><span style="line-height: 30px;"><span style="font-size: 14px;">
<div style="text-align: justify;"><span style="background-color: transparent;">"十一五"期间，公司产销规模以年均30%的幅度快速增长，主导产品在煤炭行业的市场占有率在70%以上，公司已成为国内渣浆泵专业生产制造的领军企业。公司"十二五"将依托母公司世界500强企业冀中能源集团的强大势力，着力打造具有国际竞争力的工业泵品牌企业，实现产能规模、主营业务收入、职工人均收入再翻番的历史新跨越。 </span></div></span></span></div> --></div></div>
</div>
</div></div>


                                </div>
                                <div class="containerFormsCenterMiddle J_containerFormsCenterMiddle">
                                    <div id="middleLeftForms" class="column forms mainForms middleLeftForms" style="display:none">
                                    
                                    </div>
                                    <div id="middleRightForms" class="column forms mainForms middleRightForms" style="display:none">
                                    
                                    </div>  
                                    <div class="clearfloat"></div>
                                </div>
                                <div id="centerBottomForms" class="column forms mainForms centerBottomForms" style="display:none">
                                    
                                </div>
                            </td>

                            <td valign="top" id="containerFormsRight" class="containerFormsRight" style="display:none">
                                <div class="containerFormsRightTop">
                                </div>
                                <div id="rightForms" class="column forms sideForms rightForms">
                                    
                                </div>
                                <div class="containerFormsRightBottom">
                                </div>
                            </td>
                        </tr>
                    </tbody></table>

                    <div id="bottomForms" class="column forms mainForms bottomForms" style="display:none">
                        
                    </div>

                    <div id="containerPlaceholder" class="containerPlaceholder" style="height: 0px;"></div>
                    
                </div>

                <div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
                </div>

            </td>

            <td id="containerMiddleRight" class="containerMiddleRight"></td>
        </tr>
    </tbody></table>
    
    <table class="containerBottom" cellpadding="0" cellspacing="0">
        <tbody><tr valign="top">
            <td class="left"></td>
            <td class="center"></td>
            <td class="right"></td>
        </tr>
    </tbody></table>
</div>


                    </div>
                </td>
            </tr>
        </tbody></table>
        
        <!-- 内容结束 -->
         <!-- 底部开始 -->
         [#include "/templates/${config.theme}/footer.html" /]
        <!-- 底部结束 -->
        
        
        </div></div></body></html>