<?xml version="1.0" encoding="UTF-8"?>
<kuaifan>
	<config name="siteName" value="矩阵工作室" />
	<config name="siteUrl" value="https://blog.csdn.net/g5703129" />
	<config name="logo" value="/upload/logo.jpg" />
	<config name="title" value="网站建设,网站开发,微信公众号开发,微信小程序开发,微信APP开发,webapp开发" />
	<config name="keywords" value="KuaiFanKeJi,互联网建站平台,网站建设,网站开发,微信公众号开发,微信小程序开发,微信APP开发,webapp开发" />
	<config name="description" value="互联网建站平台,网站建设,网站开发,微信公众号开发,微信小程序开发,微信APP开发,webapp开发,省时省力省心,标准化制作流程,让您建站无忧" />
	<config name="theme" value="guanwang" />
</kuaifan>